.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.container .a{
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #ff0000;
    color: white;
    padding: 1vw;
    border-radius: 10px;
}
.container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.1px solid #c5c5c5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 34vw;
    align-items: center;
    gap: 2vw;
    box-sizing: border-box;
    padding: 2.4vw;
}
.container form h1 {
    font-size: 3.5vw;
    color: rgb(255, 65, 65);
}
.container form .items {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    box-sizing: border-box;
}
.container form .login {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    box-sizing: border-box;
}
.container form .items h2 {
    font-size: 2vw;
    color: #111111;
}
.container form .items span {
    font-size: 1vw;
    color: #6e6d6d;
}
.container form .items input {
    border-radius: 10px;
    border: 0.001vw solid aqua;
    padding: 1.2vw;
    outline: none;
    width: 92%;
    font-size: 1.3vw;
}
.container form .items p {
    margin: 0;
    font-size: 1.3vw;
    color: red;
}
.container form .items button {
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 1.2vw;
    outline: none;
    width: 100%;
    font-size: 1.3vw;
}
.container form .items strong {
    font-size: 1vw;
    color: #6e6d6d;
}
.container form .Register {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}
.container form .Register .name {
    display: flex;
    gap: 1vw;
}

.container form .Register .name .left input {
    width: 80% !important;
}
.container form .Register .name .right input {
    width: 80% !important;
}
